<form style = text-align:center >
<h1 style = color:blue > 결과입니다! </h1>
과거에 <%= @name %>씨는!! <br>
<%= @result[0]%> <%= @spoon[0] %>스푼 <br>
<%= @result[1]%> <%= @spoon[1] %>스푼 <br>
<%= @result[3]%> <%= @spoon[3] %>스푼을 넣어서 <br>
<h2 style = color:red ><%= @solution[0]%> 이었슴돠!! </h2>
</form>